@import url(https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans:400,400italic,700|PT+Serif:400,400italic,700|PT+Sans+Caption&subset=latin,latin-ext);
html {
	font: 10pt "PT Serif", "Garamond", "Georgia", serif;
	text-align: justify;
}
body {
	counter-reset: h1 h2 h3 h4 table figure;
	max-width: 18cm;
}
header, h1, h2, h3, h4, h5, h6, nav {
	font-family:"PT Sans Caption", "Verdana", sans-serif;
	font-weight: normal;
	page-break-after: avoid;
}
header > h1 {
	font-size: 18pt;
	padding: 40px 0 40px 0;
	position: relative;
	string-set: title content()
}
code {
	font-family: "PT Mono", "Lucida Console", Monaco, monospace;
}
math {
	display: block;
	margin: 0.5ex 0 0.5ex 12%;
	line-height: 2em;
	text-align: left;
}
p {
	margin: 0;
}
p+p {
	text-indent: 3mm;
}

ol, ul {
	padding: 0 0 0 12mm;
	margin: 2pt 0 8pt 0;
	text-align: left;
}
ul > ul {
	margin: 0 0 0 0;
}
ol {
	counter-reset: li;
}
li {
	list-style: none;
	position: relative;
}
ol > li:before {
	counter-increment: li;
	content: counter(li) ".";
	position: absolute;
	left: -6mm;
}
ul > li:before {
	content: "•";
	position: absolute;
	left: -6mm;
}
dl {
	padding: 0 0 0 6mm;
	margin: 2pt 0 8pt 0;
	text-align: left;
}
dl > dt {
	font-weight: bold;
}
dl > dt > code {
	font-weight: normal;
}
dl > dd {
  padding: 0 0 0 6mm;
  margin: 0;
}
nav > h1 {
  content: "Innehållsförteckning";
}
nav a {
  text-decoration: none;
  color: black;
}
nav > ol {
  counter-reset: chapter;
  padding: 0 0 0 8mm;
}
nav > li {
  margin: 1mm 0 1mm 0;
}
nav > ol > li > ol {
  padding: 0 0 0 6mm;
}
nav > ol > li:before {
	counter-reset: section;
	counter-increment: chapter;
	content: counter(chapter);
	position: absolute;
	left: -2em;
	text-align: right;
	width: 1.6em;
}
nav > ol > li > ol > li:before {
	counter-increment: section;
	content: counter(chapter) "." counter(section);
	position: absolute;
	left: -3em;
	text-align: right;
	width: 2.6em;
}

table {
	margin: 16pt auto 12pt auto;
	min-width: 80%;
	max-width: 100%;
	text-align: left;
	page-break-inside:avoid;
	border-collapse: collapse;
	counter-increment: table;
}
table > thead > tr > th {
	font-weight: bold;
	border-bottom: 1pt solid black;
	padding: 0pt 4pt;
	margin: 0;
}
table tr > td,
table tr > th {
	padding: 1pt 4pt;
	margin: 0;
}
table tbody tr.separator {
	border-bottom: 1pt solid black;
}
table > caption {
	font-style: italic;
	caption-side: bottom;
	margin:10pt 0 12pt 0;
}
table > caption:before {
	font-weight: bold;
	content: "Table " counter(table) ": ";
}
p > a.table-ref:before {
	content: "Table " target-counter(attr(href), table);
}
figure {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 0 0 0;
	counter-increment: figure;
}
figure + figure,
p + figure,
figure + p {
	padding-top: 1em;
}
figure > img {
	display: block;
	max-height: 400px;
	max-width: 100%;
	margin: 0 auto 0 auto;
}
figure > figcaption {
	font-style: italic;
	caption-side:bottom;
	text-align: center;
	margin: 6pt 0 12pt 0;
}
figure > figcaption:before {
	font-weight: bold;
	content: "Figure " counter(figure) ": ";
}
p > a.fig-ref::before {
	content: "Figure " target-counter(attr(href), figure);
}
p > a.table-ref::before {
	content: "Table " target-counter(attr(href), table);
}
ol.references {
	list-style-type: none;
	margin-left: 0;
	counter-reset: reference;
}
ol.references > li {
	counter-increment: reference;
	margin-top:5px;
}
ol.references > li:before {
	content: counter(reference) ".";
}
p > a.ref {
	content: "[" target-counter(attr(href), reference) "]";
}
