@import url("print.css");
@page:first {
	size: A4;
	margin: 100mm 40mm 37mm 50mm;
 	@top-left {
		content: "";
		margin: 0 0 0 0;
	}
	@top-center {
		content:url("cogneco-v3b.svg");
		vertical-align: bottom;
	}
	@top-right-corner {
		font-family: "PT Sans", "Verdana", sans-serif;
		font-weight: normal;
		font-size: 8pt;
		text-align: right;
		vertical-align: top;
		margin: 25mm 10mm 0mm 0mm;
		white-space: pre;
		content: string(identification) "\a" string(date) "\a\a" string(classification);
	}
	@bottom-right-corner {
		content: "";
		margin: 0 0 0 0;
	}
	@bottom-right-corner {
		font-family: "PT Sans", "Verdana", sans-serif;
		font-weight: normal;
		font-size: 8pt;
		text-align: center;
		content: counter(page) " of " counter(pages);
	}
}
